extends layout

block head-content
	title Pear - Sign Up

	link(href='stylesheets/signup.css', rel='stylesheet', type='text/css')

block body-content
	body(ng-app='signUpApp')
		nav(class='navbar navbar-default navbar-fixed-top', style='background-color: rgb(230,230,230)')
			div(class='container-fluid')
				p(class='navbar-text') Pear - Pair you up with your choice


		div(class='user-info', ng-controller='signUpCtrl')
			div(class='username')
				div(class='input-group')
					span(class='input-group-addon', style='width: 65pt') Username
					input(type='text', class='form-control', placeholder='DON\'T put real names!!', ng-model='username')

			div(class='email')
				div(class='input-group')
					span(class='input-group-addon', style='width: 65pt') Email
					input(type='text', class='form-control', placeholder='Enter your email', ng-model='email')

			div(class='password')
				div(class='input-group')
					span(class='input-group-addon') Password
					input(type='text', class='form-control', placeholder='Enter your password', ng-model='password1')

			p(id='retype') Retype your password to confirm

			div(class='password')
				div(class='input-group', style='margin-top: 4px')
					span(class='input-group-addon') Password
					input(type='text', class='form-control', placeholder='Enter your password', ng-model='password2')

			button(type='button', class='btn btn-default', ng-click='signUp()') Sign Up